SECTION: GLOBAL
listen_address		Address to bind the server to
port			Port to listen on
server_name		The name of the server
server_description	A short description of the server
allow_recursive_remove	Allow recursive removals (y/n, default n)

SECTION: PATHS
base_path		A path from which all other paths are relative
account_file 		Location of the account list
file_path		Path to where files are stored

SECTION: THREADS
max_inactive_threads 	Maximum number of inactive threads kept in pool
max_active_threads 	Maximum number of threads to spawn

SECTION: USERS
guest_account		Name of guest account

SECTION: TRANSFERS
queue_enable		Enable queueing (y/n, default y)
remove_partials         Auto-remove partial uploads (y/n, default n)
max_downloads		Maximum number of downloads
max_uploads		Maximum number of uploads
dir_umask		Default umask for new directories (Default: 0755)
file_umask		Default umask for new files (Default: 0644)

SECTION: TRACKERS
host_list		List of trackers to broadcast to
update_interval		Interval at which to broadcast to trackers
